@page "/{counter:int?}"
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager navManager

@inject IJSRuntime JSRuntime

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.<br/>

<AuthorizeView >
    <Authorized>
        The user is authorized
    </Authorized>
    <NotAuthorized>
        The user is not authorized
    </NotAuthorized>
</AuthorizeView>

<div>@Counter_</div>
<button class="btn btn-primary" @onclick="OnClick">Click Me!</button>
