@page "/Login"
@layout BaseLayout

<h3>Login</h3>

<EditForm OnValidSubmit="HandleFormSubmit" EditContext="_editContext">
    <DataAnnotationsValidator />
    @* <ValidationSummary /> *@
    
    <InputText @bind-Value="Model.Username" />
    <ValidationMessage For="()=>Model.Username"/>
    
    <InputText @bind-Value="Model.Password"/>
    <ValidationMessage For="()=>Model.Password"/>
    
    <button type="submit">Login</button>
</EditForm>