<h3>SubComponent</h3>
<ol><li>@Param</li></ol>
<button class="btn btn-primary" @onclick="OnClick">SubClick me</button>
@code {
    [Parameter] public int Param { get; set; }
    [Parameter] public EventCallback<int> ParamChanged { get; set; }

    private void OnClick()
    {
        ParamChanged.InvokeAsync(Param+1);
    }

}